# Salin lewat `make env` (password acak dibuat otomatis). Jangan commit file .env.
COMPOSE_PROJECT_NAME=siaga

POSTGRES_DB=siaga
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ganti-saya
POSTGRES_PORT=5432

SIAGA_GEO_PASSWORD=ganti-saya
SIAGA_CORE_PASSWORD=ganti-saya
SIAGA_ALERT_PASSWORD=ganti-saya
SIAGA_AI_PASSWORD=ganti-saya
SIAGA_TILES_PASSWORD=ganti-saya

LOG_LEVEL=info
